@model MedicalBilling.ViewModel.BillingViewModel

<table class="table">
    <thead>
        <tr>
            <th>SlNo</th>
            <th>Product</th>
            <th>Inventory ID</th>
            <th>Quantity</th>
            <th>Free</th>
            <th>MRP</th>
            <th>VAT</th>
            <th>Discount</th>
            <th>Price</th>
        </tr>
    </thead>
    @{ int counter = 0;}
    <tbody>
        @foreach (MedicalBilling.ViewModel.InvoiceItemWithPrice item in Model.InvoiceItemsWithPrice)
        {
            counter+= 1;
            <tr>
                <td>@counter</td>
                <td>@item.InvoiceItem.Product.name</td>
                <td>@item.InvoiceItem.Inventory.batchNo</td>
                <td>@item.InvoiceItem.quantity</td>
                <td>@item.InvoiceItem.free</td>
                <td>@item.mrp</td>
                <td>@item.vat</td>
                <td>@item.discount</td>
                <td class="price">@item.price</td>
            </tr>
        }
        <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td style="text-align:right;"><b>Total:</b></td>
            <td><span id="total"></span></td>
        </tr>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var sum = 0;
        $('.price').each(function () {debugger
            sum += parseFloat($(this).text());  // Or this.innerHTML, this.innerText
            debugger
        });
        document.getElementById("total").innerHTML = sum;
    });
        
</script>
